<a href="https://colab.research.google.com/github/KingKouame/KingKouame/blob/main/Data_Analysis_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For this task, I have decided to use Google Colab as it is easier to use for me and I am more familiar with the platform.

To get started, first we are importing 'pandas' which will allow us to select data from a dataset.

We are also installing fuzzywuzzy as it isn't initially part of the program on Google Colab.

In [5]:
!pip install fuzzywuzzy
!pip install python-Levenshtein
import pandas as pd
import numpy as np
from fuzzywuzzy import process
import chardet

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.10/dist-packages (0.18.0)
Collecting python-Levenshtein
  Downloading python_Levenshtein-0.25.1-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.25.1 (from python-Levenshtein)
  Downloading Levenshtein-0.25.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (177 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 177.4/177.4 kB 1.5 MB/s eta 0:00:00
Collecting rapidfuzz<4.0.0,>=3.8.0 (from Levenshtein==0.25.1->python-Levenshtein)
  Downloading rapidfuzz-3.9.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 19.1 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.25.1 python-Levenshtein-0.25.1 rapidfuzz-3.9.3

I mount my Google drive which will give me access to the files I upload.

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

To ensure I have the correct file and access to the document, I run the first 5 lines.

In [8]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/store_income_data_task.csv')
df.head()

,id,store_name,store_email,department,income,date_measured,country
0,1,"Cullen/Frost Bankers, Inc.",NaN,Clothing,$54438554.24,4-2-2006,United States/
1,2,Nordson Corporation,NaN,Tools,$41744177.01,4-1-2006,Britain
2,3,"Stag Industrial, Inc.",NaN,Beauty,$36152340.34,12-9-2003,United States
3,4,FIRST REPUBLIC BANK,ecanadine3@fc2.com,Automotive,$8928350.04,8-5-2006,Britain/
4,5,Mercantile Bank Corporation,NaN,Baby,$33552742.32,21-1-1973,United Kingdom

In [ ]:
# prompt: Using dataframe df: Convert column entries in the "country" column to lowercase and remove any trailing white spaces.

df['country'] = df['country'].str.lower().str.strip()

In [9]:
# prompt: Using dataframe df: Convert column entries in the "country" column to lowercase and remove any trailing white spaces.

df['country'] = df['country'].str.lower().str.strip()